name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install pytest coverage

      - name: Set PYTHONPATH
        run: |
          echo "PYTHONPATH=$PYTHONPATH:./proyecto_isbn" >> $GITHUB_ENV

      - name: Run tests with coverage
        run: |
          coverage run -m pytest proyecto_isbn/tests
          coverage xml

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.xml

